WpfApplication1/Service References/ServiceRefServARCode/ServARCode3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServARR" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServARR" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthorizationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="AuthCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthRequestCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizationRequest" nillable="true" type="tns:AuthorizationRequest" />
  <xs:complexType name="AuthorizationRequestFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizationRequestFault" nillable="true" type="tns:AuthorizationRequestFault" />
</xs:schema>