WpfApplication1/Service References/ServiceRefServARCode/ServARCode1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ServARCode" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://vizdr.somee.com/WcfARR/ServARCode.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://vizdr.somee.com/WcfARR/ServARCode.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServARR" />
      <xsd:import schemaLocation="http://vizdr.somee.com/WcfARR/ServARCode.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServARCode_TryToRegisterAuthRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:TryToRegisterAuthRequest" />
  </wsdl:message>
  <wsdl:message name="IServARCode_TryToRegisterAuthRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryToRegisterAuthRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IServARCode_TryToRegisterAuthRequest_AuthorizationRequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServARR" name="detail" element="q1:AuthorizationRequestFault" />
  </wsdl:message>
  <wsdl:message name="IServARCode_GetAuthCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthCode" />
  </wsdl:message>
  <wsdl:message name="IServARCode_GetAuthCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IServARCode_GetAuthCode_AuthorizationRequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServARR" name="detail" element="q2:AuthorizationRequestFault" />
  </wsdl:message>
  <wsdl:portType name="IServARCode">
    <wsdl:operation name="TryToRegisterAuthRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IServARCode/TryToRegisterAuthRequest" message="tns:IServARCode_TryToRegisterAuthRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServARCode/TryToRegisterAuthRequestResponse" message="tns:IServARCode_TryToRegisterAuthRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServARCode/TryToRegisterAuthRequestAuthorizationRequestFaultFault" name="AuthorizationRequestFaultFault" message="tns:IServARCode_TryToRegisterAuthRequest_AuthorizationRequestFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IServARCode/GetAuthCode" message="tns:IServARCode_GetAuthCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServARCode/GetAuthCodeResponse" message="tns:IServARCode_GetAuthCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServARCode/GetAuthCodeAuthorizationRequestFaultFault" name="AuthorizationRequestFaultFault" message="tns:IServARCode_GetAuthCode_AuthorizationRequestFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServARCode" type="tns:IServARCode">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TryToRegisterAuthRequest">
      <soap:operation soapAction="http://tempuri.org/IServARCode/TryToRegisterAuthRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthorizationRequestFaultFault">
        <soap:fault use="literal" name="AuthorizationRequestFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAuthCode">
      <soap:operation soapAction="http://tempuri.org/IServARCode/GetAuthCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthorizationRequestFaultFault">
        <soap:fault use="literal" name="AuthorizationRequestFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServARCode">
    <wsdl:port name="BasicHttpBinding_IServARCode" binding="tns:BasicHttpBinding_IServARCode">
      <soap:address location="http://vizdr.somee.com/WcfARR/ServARCode.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>