Backup/WpfApplication1/Service References/ServiceRefServARCode/ServARCode32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vizdr.somee.com/WcfARR/ServARCode.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServARR" />
  <xs:element name="TryToRegisterAuthRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServARR" minOccurs="0" name="request" nillable="true" type="q1:AuthorizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryToRegisterAuthRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryToRegisterAuthRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accoundId" type="xs:int" />
        <xs:element minOccurs="0" name="authorizReqCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuthCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>